# The Python Programming Language: Numerical Python (NumPy)

In [2]:
import numpy as np

### Creating Arrays

Create a list and convert it to a numpy array

In [42]:
mylist = [1, 2, 3]
x = np.array(mylist)
x

array([1, 2, 3])

Or just pass in a list directly.

In [41]:
y = np.array([4,5,6])
y

array([4, 5, 6])

Pass in a list of lists to create a multidimensional array.

In [6]:
m = np.array([[7, 8, 9], [10, 11, 12]])
m

array([[ 7,  8,  9],
       [10, 11, 12]])

#### The `shape` method to find the dimensions of the array. (rows, columns)

In [7]:
m.shape

(2, 3)

#### `arange` returns evenly spaced values within a given interval.

In [8]:
n = np.arange(0, 30, 2) # start at 0 count up by 2, stop before 30
n

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28])

#### `reshape` returns an array with the same data with a new shape.

In [9]:
n = n.reshape(3, 5) # reshape array to be 3x5
n

array([[ 0,  2,  4,  6,  8],
       [10, 12, 14, 16, 18],
       [20, 22, 24, 26, 28]])

#### `linspace` returns evenly spaced numbers over a specified interval.

In [11]:
o = np.linspace(0, 4, 9) # return 9 evenly spaced values from 0 to 4
o

array([ 0. ,  0.5,  1. ,  1.5,  2. ,  2.5,  3. ,  3.5,  4. ])

#### `resize` changes the shape and size of array in-place.

In [15]:
o.resize(3, 3)
o

array([[ 0. ,  0.5,  1. ],
       [ 1.5,  2. ,  2.5],
       [ 3. ,  3.5,  4. ]])

#### `ones` returns a new array of given shape and type, filled with ones.

In [16]:
np.ones((3, 2))

array([[ 1.,  1.],
       [ 1.,  1.],
       [ 1.,  1.]])

#### `zeros` returns a new array of given shape and type, filled with zeros.

In [19]:
np.zeros((2,3))

array([[ 0.,  0.,  0.],
       [ 0.,  0.,  0.]])

#### `eye` returns a 2-D array with ones on the diagonal and zeros elsewhere.

In [20]:
np.eye(4)

array([[ 1.,  0.,  0.,  0.],
       [ 0.,  1.,  0.,  0.],
       [ 0.,  0.,  1.,  0.],
       [ 0.,  0.,  0.,  1.]])

#### `diag` extracts a diagonal or constructs a diagonal array.

In [40]:
e = np.diag(y) #constructs a diagonal array
f = np.diag(o) #extracts a diagonal
print ("e = ", e,'\n', "f = ", f)

e =  [[4 0 0]
 [0 5 0]
 [0 0 6]]
 f =  [ 0.  2.  4.]

#### Create an array using repeating list (or see `np.tile`)

In [31]:
np.array([1, 2, 3] * 3)

array([1, 2, 3, 1, 2, 3, 1, 2, 3])

#### Repeat elements of an array using `repeat`.

In [32]:
np.repeat([1, 2, 3], 3)

array([1, 1, 1, 2, 2, 2, 3, 3, 3])

### Combining Arrays

In [36]:
p = np.ones([2, 3], int)
p

array([[1, 1, 1],
       [1, 1, 1]])

#### Use `vstack` to stack arrays in sequence vertically (row wise).

In [37]:
np.vstack([p, 2*p])

array([[1, 1, 1],
       [1, 1, 1],
       [2, 2, 2],
       [2, 2, 2]])

#### Use `hstack` to stack arrays in sequence horizontally (column wise).

In [38]:
np.hstack([p, 2*p])

array([[1, 1, 1, 2, 2, 2],
       [1, 1, 1, 2, 2, 2]])

## NumPy : Operations

### Use `+`, `-`, `*`, `/` and `**` to perform element wise addition, subtraction, multiplication, division and power.
`x = [1 2 3] , y = [4 5 6]`

In [43]:
print(x + y) # elementwise addition     [1 2 3] + [4 5 6] = [5  7  9]
print(x - y) # elementwise subtraction  [1 2 3] - [4 5 6] = [-3 -3 -3]

[5 7 9]
[-3 -3 -3]

In [44]:
print(x * y) # elementwise multiplication  [1 2 3] * [4 5 6] = [4  10  18]
print(x / y) # elementwise divison         [1 2 3] / [4 5 6] = [0.25  0.4  0.5]

[ 4 10 18]
[ 0.25  0.4   0.5 ]

In [45]:
print(x**2) # elementwise power  [1 2 3] ^2 =  [1 4 9]

[1 4 9]

<br>
**Dot Product:**  

$ \begin{bmatrix}x_1 \ x_2 \ x_3\end{bmatrix}
\cdot
\begin{bmatrix}y_1 \\ y_2 \\ y_3\end{bmatrix}
= x_1 y_1 + x_2 y_2 + x_3 y_3$

In [46]:
x.dot(y) # dot product  1*4 + 2*5 + 3*6

32

In [50]:
z = np.array([y, y**2])
print(len(z)) # number of rows of array

2

### Transposing arrays. 
Transposing permutes the dimensions of the array.

In [51]:
z = np.array([y, y**2])
z

array([[ 4,  5,  6],
       [16, 25, 36]])

The shape of array z is (2,3) before transposing.

In [52]:
z.shape

(2, 3)

#### Use .T to get the transpose.

In [53]:
z.T

array([[ 4, 16],
       [ 5, 25],
       [ 6, 36]])

The number of rows has swapped with the number of columns.

In [54]:
z.T.shape

(3, 2)

#### Use `.dtype` to see the data type of the elements in the array.

In [56]:
z.dtype

dtype('int32')

#### Use `.astype` to cast to a specific type.

In [57]:
z = z.astype('f')
z.dtype

dtype('float32')

In [58]:
z

array([[  4.,   5.,   6.],
       [ 16.,  25.,  36.]], dtype=float32)

## NumPy: Math functions
Numpy has many built in math functions that can be performed on arrays.

In [60]:
a = np.array([-4, -2, 1, 3, 5])
a

array([-4, -2,  1,  3,  5])

In [61]:
a.sum()

3

In [62]:
a.max()

5

In [63]:
a.min()

-4

In [64]:
a.mean()

0.59999999999999998

In [65]:
a.std()

3.2619012860600183

#### `argmax` and `argmin` return the index of the maximum and minimum values in the array.

In [66]:
a.argmax()

4

In [67]:
a.argmin()

0

### NumPy: Indexing/Slicing

In [68]:
s = np.arange(13)**2
s

array([  0,   1,   4,   9,  16,  25,  36,  49,  64,  81, 100, 121, 144], dtype=int32)

Use bracket notation to get the value at a specific index. Remember that indexing starts at 0.

In [69]:
s[0], s[4], s[-1]

(0, 16, 144)

Use **`:`** to indicate a range. **`array[start:stop]`**.

Leaving `start` or `stop` empty will default to the beginning/end of the array.

In [71]:
s[1:5]

array([ 1,  4,  9, 16], dtype=int32)

Use negatives to count from the back.

In [74]:
s[-4:-2] , s[-4:]

(array([ 81, 100], dtype=int32), array([ 81, 100, 121, 144], dtype=int32))

A second `:` can be used to indicate step-size.** `array[start:stop:stepsize]`**

Here we are starting 5th element from the end, and counting backwards by 2 until the beginning of the array is reached.

In [75]:
s[-5::-2]

array([64, 36, 16,  4,  0], dtype=int32)

#### Let's look at a multidimensional array.

In [76]:
r = np.arange(36)
r.resize((6, 6))
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]])

Use bracket notation to slice: `array[row, column]`

In [77]:
r[2,2]

14

And use : to select a range of rows or columns.

In [79]:
r[3, 3:6]

array([21, 22, 23])

Here we are selecting **all the rows up to (and not including) row 2**, and **all the columns up to (and not including) the last column**.

In [80]:
r[:2, :-1]

array([[ 0,  1,  2,  3,  4],
       [ 6,  7,  8,  9, 10]])

This is a slice of the last row, and only every other element.

In [81]:
r[-1, ::2]

array([30, 32, 34])

#### We can also perform conditional indexing. 
Here we are selecting values from the array that are greater than 30. (Also see `np.where`)

In [82]:
r[r > 30]

array([31, 32, 33, 34, 35])

Here we are assigning all values in the array that are greater than 30 to the value of 30.

In [83]:
r[r > 30] = 30
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 30, 30, 30, 30, 30]])

## NumPy : Copying Data

#### Be careful with copying and modifying arrays in NumPy!


`r2` is a slice of `r`

In [84]:
r2 = r[:3,:3]
r2

array([[ 0,  1,  2],
       [ 6,  7,  8],
       [12, 13, 14]])

Set this slice's values to zero ([:] selects the entire array)

In [85]:
r2[:] = 0
r2

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0]])

#### `r` has also been changed!

In [86]:
r

array([[ 0,  0,  0,  3,  4,  5],
       [ 0,  0,  0,  9, 10, 11],
       [ 0,  0,  0, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 30, 30, 30, 30, 30]])

#### To avoid this, use `r.copy` to create a copy that will not affect the original array.

In [87]:
r_copy = r.copy()
r_copy

array([[ 0,  0,  0,  3,  4,  5],
       [ 0,  0,  0,  9, 10, 11],
       [ 0,  0,  0, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 30, 30, 30, 30, 30]])

Now when r_copy is modified, r will not be changed.

In [88]:
r_copy[:] = 10
print(r_copy, '\n')
print(r)

[[10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]]

[[ 0  0  0  3  4  5]
 [ 0  0  0  9 10 11]
 [ 0  0  0 15 16 17]
 [18 19 20 21 22 23]
 [24 25 26 27 28 29]
 [30 30 30 30 30 30]]

## NumPy: Iterating Over Arrays

Let's create a new 4 by 3 array of random numbers 0-9.

In [89]:
test = np.random.randint(0, 10, (4,3))
test

array([[3, 6, 6],
       [2, 4, 1],
       [3, 0, 9],
       [2, 0, 9]])

Iterate by row:

In [90]:
for row in test:
    print(row)

[3 6 6]
[2 4 1]
[3 0 9]
[2 0 9]

Iterate by index:

In [91]:
for i in range(len(test)):
    print(test[i])

[3 6 6]
[2 4 1]
[3 0 9]
[2 0 9]

#### Iterate by row and index:

In [92]:
for i, row in enumerate(test):
    print('row', i, 'is', row)

row 0 is [3 6 6]
row 1 is [2 4 1]
row 2 is [3 0 9]
row 3 is [2 0 9]

#### Use `zip` to iterate over multiple iterables.

In [93]:
test2 = test**2
test2

array([[ 9, 36, 36],
       [ 4, 16,  1],
       [ 9,  0, 81],
       [ 4,  0, 81]], dtype=int32)

In [94]:
for i, j in zip(test, test2):
    print(i,'+',j,'=',i+j)

[3 6 6] + [ 9 36 36] = [12 42 42]
[2 4 1] + [ 4 16  1] = [ 6 20  2]
[3 0 9] + [ 9  0 81] = [12  0 90]
[2 0 9] + [ 4  0 81] = [ 6  0 90]