# The Python Programming Language : Functions

`add_numbers` is a function that takes two numbers and adds them together.

In [1]:
def add_numbers(x, y):
    return x + y

add_numbers(23, 45)

68

`add_numbers` updated to take an **optional** 3rd parameter. Using `print` allows printing of multiple expressions within a single cell.

In [2]:
def add_numbers(x, y, z=None):
    if z is None:
        return x + y
    else:
        return x + y + z

print(add_numbers(12,23))
print(add_numbers(12,23,34))

35
69

`add_numbers` updated to take an optional flag parameter.

In [3]:
def add_numbers(x, y, z=None, flag=False):
    if flag:
        print ("Flag is True")
    if z is None:
        return x + y
    else:
        return x + y + z

print(add_numbers(1, 2, flag=True))

Flag is True
3

Assign function `add_numbers` to a variable `a`.

In [4]:
def add_numbers(x,y):
    return x+y

a = add_numbers
a(1,2)

3

# The Python Programming Language : Types and Sequences

<br>
Use `type` to return the object's type.

In [5]:
type('This is a string')

str

In [6]:
type(None)

NoneType

In [7]:
type(1)

int

In [8]:
type(1.0)

float

In [9]:
type(add_numbers)

function

### Tuples
Tuples are an immutable data structure (cannot be altered).

In [10]:
x = (1, 'a', 2, 'b')
type(x)

tuple

### Lists
Lists are mutable data structure.

In [11]:
x = [1, 'a', 2, 'b']
type(x)

list

Use `append` to append an object to a list.

In [12]:
x.append(3.3)
print(x)

[1, 'a', 2, 'b', 3.3]

Looping through each item in a list.

In [13]:
for item in x:
    print(item)

1
a
2
b
3.3

Or using the indexing operator.

In [14]:
i = 0
while i != len(x):
    print(x[i])
    i += 1

1
a
2
b
3.3

Use `+` to concatenate lists.

In [15]:
[1, 2] + [3, 4]

[1, 2, 3, 4]

Use `*` to repeat lists.

In [16]:
[3]*3

[3, 3, 3]

Use the `in` operator to check if something is inside a list.

In [17]:
1 in [1 ,2 ,3]

True

### Now let's look at strings. 
Use bracket notation to slice a string.

In [18]:
x = 'This is a string'
print(x[0]) #first character
print(x[0:1]) #first character, but we have explicitly set the end character
print(x[0:2]) #first two characters

T
T
Th

This will return the last element of a string.

In [19]:
print(x[-1])

g

This will return the slice starting from the 4th element from the end and stopping before the 2nd element from the end.

In [20]:
print(x[-4:-2])

ri

This is a slice from the beginning of the string and stopping before the 3rd element.

In [21]:
print(x[:3])

Thi

And this is a slice starting from the 4th element of the string and going all the way to the end.

In [22]:
print(x[3:])

s is a string

In [23]:
firstname = 'Christopher'
lastname = 'Brooks'

print(firstname + ' ' + lastname)
print(firstname*3)
print('Chris' in firstname)

Christopher Brooks
ChristopherChristopherChristopher
True

`split` returns a list of all the words in a string, or a list split on a specific character.

In [24]:
firstname = 'Christopher Arthur Hansen Brooks'.split(' ')[0] # [0] selects the first element of the list
lastname = 'Christopher Arthur Hansen Brooks'.split(' ')[-1] # [-1] selects the last element of the list
print(firstname)
print(lastname)

Christopher
Brooks

Make sure you __convert objects to strings__ before concatenating.

In [25]:
'kalpak' + 2

TypeError: must be str, not int

In [33]:
'kalpak' + str(2)

'kalpak2'

**Unpacking** a sequence into different variables.

In [34]:
x = ('Christopher', 'Brooks', 'brooksch@umich.edu')
fname, lname, email = x

In [35]:
print (fname, lname, email)

Christopher Brooks brooksch@umich.edu

Make sure the number of values you are unpacking matches the number of variables being assigned.

In [37]:
x = ('Christopher', 'Brooks', 'brooksch@umich.edu', 'Ann Arbor')
fname, lname, email = x

ValueError: too many values to unpack (expected 3)

### Dictionaries
Dictionaries associate keys with values.

In [27]:
x = {'Christopher Brooks': 'brooksch@umich.edu', 'Bill Gates': 'billg@microsoft.com'}
x['Christopher Brooks'] # Retrieve a value by using the indexing operator

'brooksch@umich.edu'

In [28]:
x['Kevyn Collins-Thompson'] = None
x['Kevyn Collins-Thompson']

Iterate over all the `keys`.

In [29]:
for name in x:
    print(x[name])

brooksch@umich.edu
billg@microsoft.com
None

Iterate over all the `values`.

In [30]:
for email in x.values():
    print(email)

brooksch@umich.edu
billg@microsoft.com
None

Iterate over all the `items`.

In [32]:
for name, email in x.items():
    print(name, '->', email)

Christopher Brooks -> brooksch@umich.edu
Bill Gates -> billg@microsoft.com
Kevyn Collins-Thompson -> None

**Python has a built in method for convenient string formatting.**

In [38]:
sales_record = {
'price': 3.24,
'num_items': 4,
'person': 'Chris'}

sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']))

Chris bought 4 item(s) at a price of 3.24 each for a total of 12.96

# Reading and Writing CSV files.

Let's import our datafile mpg.csv, which contains fuel economy data for 234 cars.

* mpg : miles per gallon
* class : car classification
* cty : city mpg
* cyl : # of cylinders
* displ : engine displacement in liters
* drv : f = front-wheel drive, r = rear wheel drive, 4 = 4wd
* fl : fuel (e = ethanol E85, d = diesel, r = regular, p = premium, c = CNG)
* hwy : highway mpg
* manufacturer : automobile manufacturer
* model : model of car
* trans : type of transmission
* year : model year

In [46]:
import csv

%precision 2

with open('mpg.csv') as csvfile:
    #read in our mpg.csv using csv.DictReader and convert it to a list of dictionaries.
    mpg = list(csv.DictReader(csvfile))
 
mpg[:3]

[OrderedDict([('', '1'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'auto(l5)'),
              ('drv', 'f'),
              ('cty', '18'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')]),
 OrderedDict([('', '2'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'manual(m5)'),
              ('drv', 'f'),
              ('cty', '21'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')]),
 OrderedDict([('', '3'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '2'),
              ('year', '2008'),
              ('cyl', '4'),
              ('trans', 'manual(m6)'),
              ('drv', 'f'),
              ('cty', '20'),
              ('hwy', '31'),
              ('fl', 'p'),
              ('class', 'compact')])]

**`csv.Dictreader`** has read in each row of our csv file as a dictionary. 
`len` shows that our list is comprised of 234 dictionaries.

In [42]:
len(mpg)

234

`keys` gives us the column names of our csv.

In [43]:
mpg[0].keys()

odict_keys(['', 'manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty', 'hwy', 'fl', 'class'])

This is how to find the **average city fuel economy across all cars**. All values in the dictionaries are strings, so we need to convert to float.

In [45]:
sum(float(d['cty']) for d in mpg) / len(mpg)

16.86

Similarly this is how to find the average hwy fuel economy across all cars.

In [48]:
sum(float(d['hwy']) for d in mpg) / len(mpg)

23.44

### Now, let's look at a more complex example.
 
Say we want to know what the average city MPG is grouped by the number of cylinders a car has.
<br><br>
Use `set` to return the unique values for the number of cylinders the cars in our dataset have

In [49]:
cylinders = set(d['cyl'] for d in mpg)
cylinders

{'4', '5', '6', '8'}

Here's a more complex example where we are **grouping the cars by number of cylinder**, and **finding the average cty mpg for each group**.

In [50]:
CtyMpgByCyl = []

for c in cylinders: # iterate over all the cylinder levels
    summpg = 0
    cyltypecount = 0
    for d in mpg: # iterate over all dictionaries
        if d['cyl'] == c: # if the cylinder level type matches,
            summpg += float(d['cty']) # add the cty mpg
            cyltypecount += 1 # increment the count
    CtyMpgByCyl.append((c, summpg / cyltypecount)) # append the tuple ('cylinder', 'avg mpg')

CtyMpgByCyl.sort(key=lambda x: x[0])
CtyMpgByCyl

[('4', 21.01), ('5', 20.50), ('6', 16.22), ('8', 12.57)]